.container {
    max-width: 1100px;
    /* setting the margin at 0 for top and bottom and auto for left and right. It also make the navbar looks responsive when the page is stretched more than 1100px*/
    margin: 0 auto;

    /* setting the padding at 0 for top and bottom, 40px for left and right.*/
    /* padding: 0 5px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* height is 100% of its contaner */
    height: 100%;
    
}
/* .container li{
    width: 50px;
    margin: 30px 30px;
} */
.products{
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 10px;
    text-align:center;

}
.products .btn{
    width: 50px;
    margin: 30px 30px;
}
.card{
    background-color: #047aed;
    border-radius: 7px;
    position: relative;
    top:30px;
    width: 470px;
    padding: 20px;
    margin: 50px; 
}
.card input[type='text'],
.card input[type='tel'],
.card input[type='email'],
.card input[type='password'] {
    /* to remove the text box and turn it to line */
    border: 0;
    border-bottom: 1px solid yellow;
    width: 100%;
    padding:3px;
    font-size: 16px;
}
/* to prevent the textbox from appearing when clicked, outline is set to none */
.card input:focus{
    outline: none;
}

.search{
    width: 60%;
    height:30px;
    border-radius: 5px;
    padding: 7px;
    border-style: none;
    outline: none;
}




.card-2{
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 15px;
    margin: 2px;
    width: 130px;
    height: 140px;
    
} 
.ml{
    padding: 10px;
    background-color: #fff;
    width: 25%;
    margin: 1px;
    position:unset;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
   
}

.card1{
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 2px;
    width: 175px;
    height: 235px;
    
} 

.card1 h4{
 font-size: medium;
    
}

.mm{
    width: 150px;
    height: 150px;
    padding: 0%;
    margin: 5px;
}
.mm img{
    height: 100%;
}

.grid {
    display: flex;
    gap: 20px;
    justify-content: center;
    /* height: 100%; */
    
}
.grid .my-grid{
    padding: 10px;
    background-color: #047aed;
    color:#fff;
    border-radius: 30px;
    width: 100%;
    text-align: center;
    /* margin-bottom: 50px; */
}
.grid h4{
    text-align:end;
    
}

.text{
    font-size: 10px;
}
